.card {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  min-width: 12rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 0.5em;
}

.card-label {
  margin-bottom: 1rem;
  color: dimgray;
  font-size: 0.8rem;
}

.card-title {
  font-size: 1rem;
  font-weight: 500;
}

.card-option {
  padding: 1rem 0.5em;
  border-top: 1px solid #ccc;
}

.card-text {
  margin-top: 2rem;
}

.highlight {
  margin-right: 0.3rem;
  color: red;
  font-size: 0.8rem;
}
.cross-text {
  color: dimgray;
  font-size: 0.7rem;
  text-decoration: line-through;
}

.card-description {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.8em;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
